.nav_main {
    padding: 0 80px;
    border: 1px solid lightgray;
    z-index: 999;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header);
    position: fixed;


    img {
        width: 100px;

    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        a {
            font-size: 14px;
            text-decoration: none;
            padding: 0 20px;
            color: rgb(133, 132, 132);
            font-weight: 700;
        }

        .active {
            color: black;
        }
    }

    .navbar-user {
        display: flex;
        align-items: center;

        a,
        .cart_icon {
            font-size: 20px;
            padding: 0 10px;
            color: rgb(155, 155, 155);

            path {
                fill: rgb(155, 155, 155)
            }

            i {
                font-size: 20px !important;


            }

        }

        .cart_icon {
            cursor: pointer;
        }

        .menu_mobile {
            color: #5f52ae;
            display: none;

        }

        .cart_icon {
            position: relative;

            .quantity_cart {
                top: -10px;
                right: 0px;
                font-size: 13px;
                background-color: #5f52ae;
                padding: 0px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-weight: 550;
                color: white;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;


            }
        }
    }

}

body {
    footer {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }
}

@keyframes mobile_nav {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}

.menu_item_mobile {
    z-index: 999;
    animation: mobile_nav 1s forwards;
    position: fixed;
    padding: 10px;
    left: 0;
    right: 0;
    top: 52px;
    display: none;
    flex-direction: column;
    background-color: white;

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }

    .active {
        color: #5f52ae;
    }
}

@media screen and (max-width: 650px) {
    .nav_main {
        ul {
            display: none;
        }

        .navbar-user {

            .menu_mobile {
                z-index: 999;
                display: inline;
            }
        }
    }


}

@media screen and (max-width: 800px) {
    .nav_main {
        padding: 0px 20px;

    }


}